<div class="container">
  <h6>Email & Social Media</h6>
  <ul
    class="d-flex flex-wrap gap-4 align-items-start justify-content-start p-0 py-2 m-0"
    style="list-style: none"
  >
    <li>
      <a href="mailto: abc@example.com" class="p-2"
        ><i class="fs-4 bi bi-envelope-at"></i
      ></a>
    </li>
    <li>
      <a href="#" class="p-2"><i class="fs-4 bi bi-youtube"></i></a>
    </li>

    <li>
      <a href="#" class="p-2"><i class="fs-4 bi bi-linkedin"></i></a>
    </li>
    <li>
      <a href="#" class="p-2"><i class="fs-4 bi bi-instagram"></i></a>
    </li>
    <li>
      <a href="#" class="p-2"><i class="fs-4 bi bi-tiktok"></i></a>
    </li>
    <li>
      <a href="#" class="p-2"><i class="fs-4 bi bi-twitter"></i></a>
    </li>
  </ul>
  <p class="m-0">© 2023, Jan Anhalt.</p>
</div>
