<div class="container">
  <div
    class="d-flex flex-column flex-wrap gap-4 align-items-center justify-content-center"
  >
    <h6>Email & Social Media</h6>
    <ul class="d-flex flex-wrap gap-4 p-0 py-2 m-0" style="list-style: none">
      <li>
        <a target="_blank" href="/whats-app"
          ><img src="/assets/wa-icon.png" alt="Whatsapp"
        /></a>
      </li>
      <li>
        <a target="_blank" href="/line"
          ><img src="/assets/ln-icon.png" alt="Line"
        /></a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UCa3Z9fejjPkDjquH_qEEfZA"
          ><img src="/assets/yt-icon.png" alt="Youtube"
        /></a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/anhaltjan/"
          ><img src="/assets/li-icon.png" alt="Linkedin"
        /></a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/AnhaltJan"
          ><img src="/assets/tw-icon.png" alt="Twitter"
        /></a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/anhaltjan_dm/"
          ><img src="/assets/ig-icon.png" alt="Instagram"
        /></a>
      </li>

      <!--       <li>
        <a target="_blank" href="#"
          ><img src="/assets/tt-icon.png" alt="TikTok"
        /></a>
      </li> -->

      <li>
        <a target="_blank" href="https://dribbble.com/anhaltjan/"
          ><img src="/assets/dr-icon.png" alt="Dribbble"
        /></a>
      </li>

      <li>
        <a target="_blank" href="https://www.pinterest.jp/anhaltjan/"
          ><img src="/assets/pt-icon.png" alt="Pinterest"
        /></a>
      </li>
    </ul>
    <p class="m-0">© 2023, Jan Anhalt.</p>
  </div>
</div>
