<div class="bg-light py-2">
  <div class="container">
    <div class="col">
      <div class="row">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="d-flex flex-column align-items-center gap-3">
              <a
                class="d-flex align-items-center gap-2 text-dark fw-bold fst-italic text-uppercase fs-2 m-0"
                style="text-decoration: none"
                href="/"
                >Jan Anhalt
              </a>

              <a href="/">HQ</a>
              <a href="/the-journey">The Journey</a>
              <a href="/the-work">The Work</a>
              <a href="/the-viewpoints">The Viewpoints</a>
              <a href="/contact-now">Contact Now</a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="ratio ratio-1x1">
              <img
                class="img-fluid"
                src="/assets/youtube.png"
                alt="monochrome image of Jan Anhalt with a gradient gold YouTube logo on the bottom right"
              />
            </div>
            <a
              href="#"
              class="btn btn-outline-primary text-dark d-grid rounded-0 mt-2"
              >Work with me on FIVERR
            </a>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="ratio ratio-1x1">
              <img
                class="img-fluid"
                src="/assets/linkedin.png"
                alt="monochrome image of Jan Anhalt with a gradient gold LinkedIn logo on the bottom right"
              />
            </div>
            <a
              href="#"
              class="btn btn-outline-primary text-dark d-grid rounded-0 mt-2"
              >Work with me on FIVERR
            </a>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-3">
            <div class="ratio ratio-1x1">
              <img
                class="img-fluid"
                src="/assets/fiverr.png"
                alt="monochrome image of Jan Anhalt with a gradient gold Fiverr logo on the bottom right"
              />
            </div>
            <a
              href="#"
              class="btn btn-outline-primary text-dark d-grid rounded-0 mt-2"
              >Work with me on FIVERR
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div
            style="height: 100%"
            class="d-flex justify-content-center align-items-center"
          >
            <h6 style="font-size: small" class="text-secondary text-center">
              Jan Anhalt. 2023
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
