<nav class="navbar">
  <div class="container-fluid">
    <a
      class="navbar-brand text-uppercase bg-dark text-white px-3 fw-bold"
      href="/"
      >Jan Anhalt

      <div
        class="d-flex flex-wrap fw-normal gap-1 justify-content-center align-items-center"
        style="font-size: 0.75rem"
      >
        <span class="" id="blinker"
          ><i class="bi bi-geo-alt-fill" style="color: #00eb00"></i
        ></span>
        <span>東京 | Tokyo</span>
      </div>
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn bg-gold-gradient rounded-0"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <div class="offcanvas-body d-flex flex-column justify-content-between">
        <ul
          class="navbar-nav justify-content-start flex-grow-1 fs-5 text-uppercase fw-bold text-primary"
        >
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio">The Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">The Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/anhaltjan/"
              >Contact Now (LinkedIn)</a
            >
          </li>
        </ul>
        <div class="d-flex justify-content-between">
          <a
            href="#"
            class="d-flex justify-content-center py-2"
            style="width: 100%"
          >
            <i class="bi bi-youtube"></i>
          </a>
          <a
            href="#"
            class="d-flex justify-content-center py-2"
            style="width: 100%"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a
            href="#"
            class="d-flex justify-content-center py-2"
            style="width: 100%"
          >
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
