<div class="col">
  <div class="row fixed-top">
    <div class="bg-primary text-secondary">
      <div class="container-fluid">
        <div class="row py-3">
          <div class="col-12 col-md-7 d-flex align-items-center gap-3">
            <div>SVG HERE</div>
            <div class="fs-4">
              Do you want to improve your digital marketing?
            </div>
          </div>
          <div class="col-12 col-md-5">
            <a class="btn btn-lg btn-success" href="#">Yes, join my company</a>
            <a class="btn btn-lg btn-danger" href="#"
              >No, No improvement please</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 72px" class="row bg-warning">
    <img
      class="img-fluid w-25"
      src="../assets/jan-anhalt-futura-logo.png"
      alt="Jan Anhalt"
    />

    <nav class="">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Jan Anhalt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project">Current Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio"
              >Digital Marketing Portfolio</a
            >
          </li>
          <li><a class="nav-link" href="#contact">Contact Me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
