<nav class="navbar navbar-expand-md">
  <div class="container d-flex">
    <a
      class="navbar-brand d-flex justify-content-center align-items-center gap-4"
      href="/"
    >
      <img
        src="/assets/Signature-logo.png"
        alt="Bootstrap"
        width="54"
        height="96"
      />
      Jan Issac Anhalt
    </a>
    <button
      class="navbar-toggler border-primary py-2 px-4 rounded-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse align-items-center justify-content-end"
      id="navbarNav"
    >
      <ul class="navbar-nav gap-3 py-4 text-uppercase">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/backstory"
            >Backstory</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
