$primary: #43cd66;
$secondary: #efefef;
$body-bg: #171717;
$body-color: #fafafa;

$display-font-sizes: (
  1: 6.5rem,
  2: 5.5rem,
  3: 5.5rem,
  4: 4rem,
  5: 3rem,
  6: 2.5rem,
);

//import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
