$primary: #0c0d19;
$secondary: #f5efeb;
$info: #e21c21;
$body-bg: #ffffff;
$body-color: #0c0d19;

$display-font-sizes: (
  1: 1.875rem,
  2: 5.5rem,
  3: 5.5rem,
  4: 4rem,
  5: 3rem,
  6: 2.5rem,
);

//import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
