<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "basehead.html" %} {% block head %} {% endblock %}
  </head>
  <body>
    <!-- CTA banner -->

    <header>
      {% include "baseheader.html" %} {% block header %} {% endblock %}
    </header>
    <main class="position-relative container-fluid">
      <div class="position-fixed z-3" style="bottom: 77px; right: 68px">
        <div class="ratio ratio-1x1">
          <div>
            <a
              class="btn btn-info rounded-0 d-lg-none"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasResponsive"
              aria-controls="offcanvasResponsive"
            >
              <i class="fs-1 text-secondary bi bi-three-dots-vertical"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <section
          class="col-1 offcanvas-lg offcanvas-start text-center"
          tabindex="-1"
          id="offcanvasResponsive"
          aria-labelledby="offcanvasResponsiveLabel"
        >
          <div class="offcanvas-header">
            <!--        <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              data-bs-target="#offcanvasResponsive"
              aria-label="Close"
            ></button> -->
          </div>
          <div class="offcanvas-body">
            <div class="">
              <ul
                class="d-flex flex-column gap-4 p-0 fw-bold text-uppercase"
                style="list-style: none"
              >
                <li>Contact</li>
                <li>
                  <a href="/whats-app"
                    ><img src="/assets/sns/wa-icon.png" alt="WhatsApp link"
                  /></a>
                </li>
                <li>
                  <a href="/line"
                    ><img src="/assets/sns/ln-icon.png" alt="LINE link"
                  /></a>
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.linkedin.com/in/anhaltjan/"
                    ><img src="/assets/sns/li-icon.png" alt="LinkedIn link"
                  /></a>
                </li>
                <li>Media</li>
                <li>
                  <a href="https://twitter.com/AnhaltJan"
                    ><img src="/assets/sns/tw-icon.png" alt="Twitter link"
                  /></a>
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://instagram.com/jan.anhalt?igshid=ZDdkNTZiNTM=
                  "
                    ><img src="/assets/sns/ig-icon.png" alt="Instagram link"
                  /></a>
                </li>
                <li>
                  <a target="_blank" href="https://www.youtube.com/@anhaltjan"
                    ><img src="/assets/sns/yt-icon.png" alt="YouTube"
                  /></a>
                </li>
                <!--               <li>
                  <a target="_blank" href="#"
                    ><img src="/assets/sns/tt-icon.png" alt=""
                  /></a>
                </li> -->
                <!--           <li>
                  <a target="_blank" href="#"
                    ><img src="/assets/sns/sc-icon.png" alt="SnapChat link"
                  /></a>
                </li> -->
                <li>
                  <a target="_blank" href="#"
                    ><img src="/assets/sns/pt-icon.png" alt="Pinterest link"
                  /></a>
                </li>
                <li>Portfolio</li>
                <li>
                  <a target="_blank" href="https://dribbble.com/anhaltjan"
                    ><img src="/assets/sns/dr-icon.png" alt="Dribbble link"
                  /></a>
                </li>
                <!--               <li>
                  <a target="_blank" href="#"
                    ><img src="/assets/sns/dr-icon.png" alt=""
                  /></a>
                </li> -->
                <!--          <li>
                  <a target="_blank" href="#"
                    ><img src="/assets/sns/dr-icon.png" alt=""
                  /></a>
                </li> -->
              </ul>
            </div>
          </div>
        </section>
        <section class="col-12 col-lg-11">{{ content | safe }}</section>
      </div>
    </main>
    <footer class="container-fluid bg-secondary py-4">
      {% include "basefooter.html" %}
    </footer>
  </body>
</html>
