---
layout: /layouts/base.html
---

<article class="container" style="max-width: 90ch; text-align: justify">
  {{ content | safe }}

  <a target="_blank" href="/" class="btn btn-outline-primary my-"
    ><i class="bi bi-arrow-90deg-left"></i> Go back home</a
  >
  <a
    type="button"
    target="_blank"
    href="https://www.linkedin.com/in/anhaltjan/"
    class="btn btn-outline-primary my-4"
    ><i class="bi bi-linkedin p-0 me-2" style="color: #0a66c2"></i>
    <span class="fw-bold">Connect </span>with Jan Anhalt
    <i class="bi bi-box-arrow-up-right ps-3"></i>
  </a>
</article>
